// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "@angular/cdk" as cdk;
// Plus imports for other components in your app.
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ANGULAR_CRESWAVE_CODE_TEST-primary: mat.define-palette(mat.$indigo-palette);
$ANGULAR_CRESWAVE_CODE_TEST-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$ANGULAR_CRESWAVE_CODE_TEST-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ANGULAR_CRESWAVE_CODE_TEST-theme: mat.define-light-theme(
  (
    color: (
      primary: $ANGULAR_CRESWAVE_CODE_TEST-primary,
      accent: $ANGULAR_CRESWAVE_CODE_TEST-accent,
      warn: $ANGULAR_CRESWAVE_CODE_TEST-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ANGULAR_CRESWAVE_CODE_TEST-theme);

/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.mat-elevation-z8 {
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}
